<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-aop-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-aspects-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-beans-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-context-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-context-indexer-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-context-support-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-core-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-expression-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-instrument-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-jcl-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-jdbc-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-jms-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-messaging-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-orm-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-oxm-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-test-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-tx-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-web-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-webflux-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-webmvc-5.0.7.RELEASE.jar!/" />
      <root url="jar://E:/spring-framework-5.0.7.RELEASE/spring-websocket-5.0.7.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>